<div class="dashboard-container flex">
    <!-- ================= SIDEBAR  ================= -->
    <div
    [class.w-64]="isSidebarOpen"
    [class.w-20]="!isSidebarOpen"
    class="bg-white border-gray-200 h-screen transition-all duration-300 flex-co1">
<!-- MENU ITEMS -->

<div class="flex-1 p-4 space-y-2">

<!-- Dashboard -->

<div
(click)="activeMenu='dashboard'"
[class.bg-indigo-100]="activeMenu=== 'dashboard"
class="flex items-center gap-2 p-2 rounded-md cursor-pointer hover:bg-gray-100 transition">
 <i-lucide [img]="dashboardIcon" [size]="18"></i-lucide>
 <span *ngIf="isSidebarOpen">Dashboard</span>
 </div>
 <!-- Profile -->
<div
(click)="activeMenu='profile'"
[class.bg-indigo-100]="activeMenu=== 'profile'"
class="flex items-center gap-3 p-2 rounded-r-md cursor-pointer hover:bg-gray-100 transition">
 <i-lucide [img]="profileIcon" [size]="18"></i-lucide>
 <span *ngIf="isSidebarOpen">Profile</span>
 </div>
 <!-- Products -->
  <div 
  (click)="activeMenu= 'products'"
        class="flex items-center gap-3 p-2 rounded-md cursor-pointer hover:bg-gray-100 transition">
      <i-lucide [img]="productsIcon" [size]="18"></i-lucide>
      <span *ngIf="isSidebarOpen">Products</span>
    </div>

        <!-- Orders -->
         <div 
         (click)="activeMenu='orders'"
         [click.bg-indigo-100]="activeMenu==='orders'"
      class="flex items-center gap-3 p-2 rounded-md cursor-pointer hover:bg-gray-100 transition">
      <i-lucide [img]="ordersIcon" [size]="18"></i-lucide>
      <span *ngIf="isSidebarOpen">Orders</span>
    </div>
    <!-- Settings -->
<div
(click)="activeMenu='settings'"
[click.bg-indigo-100]="activeMenu=== 'settings'"
      class="flex items-center gap-3 p-2 rounded-md cursor-pointer hover:bg-gray-100 transition">
      <i-lucide [img]="settingsIcon" [size]="18"></i-lucide>
<span *ngIf="isSidebarOpen">Settings</span>
</div>

  <!-- Logout -->
   <div class="p-4 border-t">
    <div
    (click)="logout()"
          class="flex items-center gap-3 p-2 rounded-md cursor-pointer hover:bg-red-100 text-red-500 transition">
      <i-lucide [img]="logoutIcon" [size]="18"></i-lucide>
<span *ngIf="isSidebarOpen">Logout</span>

</div>
</div>
   </div>


    <!-- ================= MAIN AREA ================= -->

    <div class="flex-1 relative">


        <!-- ================= TOP BAR ================= -->
        <nav class="topbar flex items-center justify-between">

            <!-- LEFT SECTION -->
            <div class="flex items-center gap-4">

                <!-- SIDEBAR TOGGLE BUTTON -->
<button (click)="toggleSidebar()" class="text-white text-xl">                    ☰
                </button>

                <div class="logo">
                    Project X
                </div>
            </div>


            <div class="nav-links">
                <a>Categories</a>
                <a>About</a>
            </div>

            <div class="right-section">

                <!-- CLICK EVENT -->
                <span class="icon" (click)="toggleSearch()" style="cursor:pointer;">
                    <i-lucide [img]="searchIcon" [size]="18"></i-lucide>

                </span>
                <!-- Search dropdown panel -->
                <div *ngIf="showSearch"
                    class="absolute right-0 top-12 w-90 bg-white rounded-xl shadow-2xl p-2.5 z-50 transition-all duration-300">
                    <!-- Search Input -->
                    <div class="flex items-center border rounded-md px-3 py-2">
                        <input type="text" placeholder="Search product..." [(ngModel)]="searchTerm"
                            (input)="filterProducts()"
                            class="flex-1 outline-none text-sm bg-gray-200 border border-gray-200 rounded-md text-black" />
                        <button (click)="showSearch=false" class="text-gray-400 text-sm ml-3">
                            ✖
                        </button>
                    </div>
                    <!-- Results Section -->
                    <div class="mt-3 max-h-48 overflow-y-auto">
                        <div *ngIf="searchTerm && searchTerm.trim().length>0">
                            <div *ngFor="let product of filteredProducts"
                                class="p-2 hover:bg-gray-100 rounded cursor-pointer text-sm text-black border-r-2">
                                {{ product.name }} - ${{ product.price }}
                            </div>

                            <div *ngIf="filteredProducts.length === 0" class="text-gray-400 text-sm p-2">
                                No Results found.
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </nav>


        <!-- ================= MAIN CONTENT ================= -->
        <div class="content">

            <h1>Welcome {{user?.name}}</h1>
            <p>This Is Your Dashboard.</p>



        </div>
    </div>